{% extends "base.html" %}
{% block content %}
<div>
    <h1>Meet the Developers</h1>
    <p>Get to know us! :)</p>
    <bk></bk>
    <bk></bk>
   	<bk></bk>
    <h4>Whitt Hyde: </h4>
    <bk></bk>
    <img src="/static/whitt.jpg" alt="android_4" class = "center" height="350" width="350">
    <bk></bk>
   	<p>Hi my name's Whitt.</p>
    <h4>Yunwei Yan: </h4>
    <bk></bk>
    <img src="/static/yunwei.jpg" alt="android_4" class = "center" height="350" width="350">
    <bk></bk>
    <p>Hi my name's Yunwei.</p>

  

{% endblock content %}
