{% extends "base.html" %}

{% block content %}

<h3>Events</h3>
<a href="/events/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add Event
</a>

{% for event in events %}
<div class="media">
  <a href="/events/{{event.id}}">
    <div class="media-body">
      <h4>{{event.eventname}}</h4>
      <p>{{event.hostname}}</p>
    </div>
  </a>
</div>
{% else %}
<p>No Events found</p>
{% endfor %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}