{% extends "base.html" %}
{% block content %}
<div>
    <h1>Hi, Welcome to Our Events Manager. Thanks for Visiting! </h1>
    <p>This app was co-developed by Whitt Hyde and Yunwei Yan, during the summer semester of the MSITM program at the McCombs School of Busines. The website and complimenting Android app was a one week sprint assignment. Enjoy! :)</p>
    <bk></bk>
    <bk></bk>
   	<bk></bk>
    <h4>The Narrative: </h4>
    <bk>
   	<p>Our app is for use for individuals to create events such as pick up sports, meet ups, board game nights, and really any event you can think of. The purpose of our app is not to make money, but to bring people together. We ask if you are posting an event on our board, please consider making it a free event (although event price is supported).</p>

   	<a href="https://github.com/whitthyde/APADProject3" class="btn btn-info btn-sm">
  	<i class="glyphicon glyphicon-cloud-download"></i>
 	Click here to Download the Complimenting App (Android Only)
 	 </a>
    
    <a href="/info/webtutorial" class="btn btn-info btn-sm">
  	<i class="glyphicon glyphicon-education"></i>
 	Click here for a quick tutorial on our website
 	 </a>

 	<a href="/info/apptutorial" class="btn btn-info btn-sm">
  	<i class="glyphicon glyphicon-phone"></i>
 	Click here for a quick tutorial on our app!
 	 </a>

 	<a href="/info/aboutus" class="btn btn-info btn-sm">
  	<i class="glyphicon glyphicon-user"></i>
 	Click here to learn more about us!
 	 </a>

{% endblock content %}
