{% extends "base.html" %}

{% block content %}

<h2><span class="glyphicon glyphicon-road"></span> Venues</h2>
{% if current_user.id == 6 %}
<a href="/venues/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add Venue
</a>
{% endif %}

{% for venue in venues %}
<div class="media">
  <a href="/venues/{{venue.id}}">
    <div class="media-body">
      <h4>{{venue.name}}</h4>
      <p>The Venue ID is: {{venue.id}}</p>
    </div>
  </a>
</div>
{% else %}
<p>No Venues found</p>
{% endfor %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}