{% extends "base.html" %}

{% block content %}

<h3>Venue</h3>

<div class="btn-group">
  <a href="/venues/{{venue.id}}/edit" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Edit Venue
  </a>
  <a href="/venues/{{venue.id}}/delete" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Delete Venue
  </a>
</div>

<div class="media">
  <div class="media-body">
    <h4 class="book-title"> {{venue.name}} wrong</h4>
    <h5 class="book-author">Venue ID {{venue.id}}</h5>

  </div>
</div>

{% endblock %}
